@keyframes tellme {
  @for $i from 1 through 1 {
    #{$i * 1%} {
      color: $orange-contrast; 
      transform: rotate3d(1 , 0, 0, #{5}rad);
    }
  }
}
@for $i from 0 through 20 {
  #{'.box' + $i} {

      @include gel-layout-item;
      @include gel-columns(12);

      @include mq($from: gel-bp-m) {
        @include gel-columns(1/2);
      }
    
      @include mq($from: gel-bp-l) {
        @include gel-columns(1/5);
      }
    
      animation: tellme 0.2s infinite;
      animation-delay: 0s;
      animation-iteration-count: 1;

      position: relative;
      color: $orange;
      text-align: center;

      vertical-align: middle;
      padding: $gel-spacing-unit;
  }
}
.questionboxcontent {
    position: relative;

    background-color: rgba($green, 0.2);
    height: 50px;
    box-sizing: border-box;

    > a {
      display: block;
      @include gel-typography('great-primer');
      color: $orange;
      line-height: 22px;
      letter-spacing: 2px;
      font-family: 'VT323', monospace;
      padding-bottom: 0;
      margin: 0;
      padding-top: 15px;
      text-decoration: none;
  
      &:hover {
        color: $orange-contrast;
      }
  
      &:active {
        color: $orange-contrast;
      }
    }

    > a::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      content: "";
      
    }
  }
