@keyframes tellme {
  @for $i from 1 through 1 {
    #{$i * 1%} {
      color: $orange-contrast; 
      transform: rotate3d(1 , 0, 0, #{14}rad);
    }
  }
}

.questionbox {

    @include gel-layout-item;
    @include gel-columns(12);

    @include mq($from: gel-bp-m) {
      @include gel-columns(1/2);
    }
  
    @include mq($from: gel-bp-l) {
      @include gel-columns(1/4);
    }
  
    animation: tellme 1s infinite;
    animation-delay: 0s;
    animation-iteration-count: 1;

    position: relative;
    color: $orange;
    text-align: center;

    vertical-align: middle;
    margin-bottom: double($gel-spacing-unit);
}

.questionboxcontent {
    position: relative;

    background-color: rgba($green, 0.1);
    height: 100px;
    box-sizing: border-box;

    > a {
      display: block;
      @include gel-typography('trafalgar-bold');
      color: $orange;
      line-height: 22px;
      letter-spacing: 2px;
      font-family: 'VT323', monospace;
      font-size: 2px;
      padding-bottom: 0;
      margin: 0;
      padding-top: 32px;
      text-decoration: none;
  
      &:hover {
        color: $orange-contrast;
      }
  
      &:active {
        color: $orange-contrast;
      }
    }

    > a::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      content: "";
      
    }
  }
