@import '../atoms/palette';
@import '../atoms/typography';
@import '../atoms/sass-mq';

.landingpage {
    background-color: $dancing-in-the-dark;
}

.landingpage__contentlist {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    padding-top: 0;
    padding-bottom: 128px;
}
