@import url(https://fonts.googleapis.com/css?family=Cutive|Lato);
@import url(https://fonts.googleapis.com/css?family=Monoton|VT323|Source+Code+Pro);
@import url(https://fonts.googleapis.com/css?family=Cutive|Lato);
@import url(https://fonts.googleapis.com/css?family=Cutive|Lato);
@import url(https://fonts.googleapis.com/css?family=Cutive|Lato);
@import url(https://fonts.googleapis.com/css?family=Cutive|Lato);
.colorpalette__swatch {
  border-width: 1px;
  border-style: solid;
  display: inline-block;
  width: 128px;
  height: 128px; }
  .colorpalette__swatch--all-yellow {
    background-color: #f5ff70;
    position: relative; }
    .colorpalette__swatch--all-yellow::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #f5ff70;
      content: "#f5ff70";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--dancing-in-the-dark {
    background-color: #282c34;
    position: relative; }
    .colorpalette__swatch--dancing-in-the-dark::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #282c34;
      content: "#282c34";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--fade-to-grey {
    background-color: #4d4e5056;
    position: relative; }
    .colorpalette__swatch--fade-to-grey::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #4d4e5056;
      content: "#4d4e5056";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--green-sally-up {
    background-color: #70FF7F;
    position: relative; }
    .colorpalette__swatch--green-sally-up::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #70FF7F;
      content: "#70FF7F";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--simply-red {
    background-color: #ff6e6e;
    position: relative; }
    .colorpalette__swatch--simply-red::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #ff6e6e;
      content: "#ff6e6e";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--blue-monday {
    background-color: #6464fd;
    position: relative; }
    .colorpalette__swatch--blue-monday::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #6464fd;
      content: "#6464fd";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--white-wedding {
    background-color: #f5f0f5;
    position: relative; }
    .colorpalette__swatch--white-wedding::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #f5f0f5;
      content: "#f5f0f5";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }

.colorpalette__swatch {
  border-width: 1px;
  border-style: solid;
  display: inline-block;
  width: 128px;
  height: 128px; }
  .colorpalette__swatch--all-yellow {
    background-color: #f5ff70;
    position: relative; }
    .colorpalette__swatch--all-yellow::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #f5ff70;
      content: "#f5ff70";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--dancing-in-the-dark {
    background-color: #282c34;
    position: relative; }
    .colorpalette__swatch--dancing-in-the-dark::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #282c34;
      content: "#282c34";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--fade-to-grey {
    background-color: #4d4e5056;
    position: relative; }
    .colorpalette__swatch--fade-to-grey::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #4d4e5056;
      content: "#4d4e5056";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--green-sally-up {
    background-color: #70FF7F;
    position: relative; }
    .colorpalette__swatch--green-sally-up::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #70FF7F;
      content: "#70FF7F";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--simply-red {
    background-color: #ff6e6e;
    position: relative; }
    .colorpalette__swatch--simply-red::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #ff6e6e;
      content: "#ff6e6e";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--blue-monday {
    background-color: #6464fd;
    position: relative; }
    .colorpalette__swatch--blue-monday::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #6464fd;
      content: "#6464fd";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--white-wedding {
    background-color: #f5f0f5;
    position: relative; }
    .colorpalette__swatch--white-wedding::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #f5f0f5;
      content: "#f5f0f5";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }

.typographypreview {
  width: 20vw; }

.typographypreview__font {
  margin-bottom: 16px; }

.typographypreview__label {
  font-family: 'Cutive', serif;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 5px;
  line-height: 24px;
  color: #f5ff70;
  margin-left: 24px; }
  @media (min-width: 46.25em) {
    .typographypreview__label {
      font-size: 22px;
      line-height: 26px; } }
  @media (min-width: 61.25em) {
    .typographypreview__label {
      font-size: 28px;
      line-height: 32px; } }

.typographypreview__font--five {
  font-family: 'Cutive', serif;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 5px;
  line-height: 20px;
  color: #70FF7F; }
  @media (min-width: 46.25em) {
    .typographypreview__font--five {
      font-size: 16px;
      line-height: 22px; } }

.typographypreview__font--eight {
  font-family: 'Cutive', serif;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 5px;
  line-height: 24px;
  color: #70FF7F; }
  @media (min-width: 46.25em) {
    .typographypreview__font--eight {
      font-size: 22px;
      line-height: 26px; } }
  @media (min-width: 61.25em) {
    .typographypreview__font--eight {
      font-size: 28px;
      line-height: 32px; } }

.typographypreview__font--ten {
  font-family: 'Cutive', serif;
  font-size: 28px;
  letter-spacing: 5px;
  line-height: 32px;
  color: #70FF7F; }
  @media (min-width: 46.25em) {
    .typographypreview__font--ten {
      font-size: 32px;
      line-height: 36px; } }
  @media (min-width: 61.25em) {
    .typographypreview__font--ten {
      font-size: 44px;
      line-height: 48px; } }

.logotext {
  font-family: 'Cutive', serif;
  font-size: 28px;
  letter-spacing: 5px;
  line-height: 32px;
  color: #70FF7F;
  letter-spacing: 5px;
  margin-bottom: 0;
  margin-top: 0;
  position: relative; }
  @media (min-width: 46.25em) {
    .logotext {
      font-size: 32px;
      line-height: 36px; } }
  @media (min-width: 61.25em) {
    .logotext {
      font-size: 44px;
      line-height: 48px; } }
  .logotext .logotext__second-word {
    -webkit-animation: color-pulser 15s ease-in infinite;
            animation: color-pulser 15s ease-in infinite; }

@-webkit-keyframes color-pulser {
  14% {
    color: #70FF7F; }
  28% {
    color: #4d4e5056; }
  42% {
    color: #ff6e6e; }
  56% {
    color: #4d4e5056; }
  70% {
    color: #f5ff70; }
  84% {
    color: #70FF7F; } }

@keyframes color-pulser {
  14% {
    color: #70FF7F; }
  28% {
    color: #4d4e5056; }
  42% {
    color: #ff6e6e; }
  56% {
    color: #4d4e5056; }
  70% {
    color: #f5ff70; }
  84% {
    color: #70FF7F; } }
  .logotext--before {
    color: #4d4e5056; }
    .logotext--before .logotext__second-word {
      -webkit-animation: inherit;
              animation: inherit; }
    .logotext--before .logotext__first-word {
      -webkit-animation: color-pulser 15s ease-in infinite;
              animation: color-pulser 15s ease-in infinite; }

@keyframes color-pulser {
  14% {
    color: #4d4e5056; }
  28% {
    color: #282c34; }
  42% {
    color: #ff6e6e; }
  56% {
    color: #282c34; }
  70% {
    color: #f5ff70; }
  84% {
    color: #4d4e5056; } }
  .logotext--after {
    color: #4d4e5056; }
    .logotext--after .logotext__second-word {
      -webkit-animation: inherit;
              animation: inherit; }
    .logotext--after .logotext__third-word {
      -webkit-animation: color-pulser 15s ease-in infinite;
              animation: color-pulser 15s ease-in infinite; }

@keyframes color-pulser {
  14% {
    color: #4d4e5056; }
  28% {
    color: #282c34; }
  42% {
    color: #ff6e6e; }
  56% {
    color: #282c34; }
  70% {
    color: #f5ff70; }
  84% {
    color: #4d4e5056; } }

.colorpalette__swatch {
  border-width: 1px;
  border-style: solid;
  display: inline-block;
  width: 128px;
  height: 128px; }
  .colorpalette__swatch--all-yellow {
    background-color: #f5ff70;
    position: relative; }
    .colorpalette__swatch--all-yellow::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #f5ff70;
      content: "#f5ff70";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--dancing-in-the-dark {
    background-color: #282c34;
    position: relative; }
    .colorpalette__swatch--dancing-in-the-dark::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #282c34;
      content: "#282c34";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--fade-to-grey {
    background-color: #4d4e5056;
    position: relative; }
    .colorpalette__swatch--fade-to-grey::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #4d4e5056;
      content: "#4d4e5056";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--green-sally-up {
    background-color: #70FF7F;
    position: relative; }
    .colorpalette__swatch--green-sally-up::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #70FF7F;
      content: "#70FF7F";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--simply-red {
    background-color: #ff6e6e;
    position: relative; }
    .colorpalette__swatch--simply-red::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #ff6e6e;
      content: "#ff6e6e";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--blue-monday {
    background-color: #6464fd;
    position: relative; }
    .colorpalette__swatch--blue-monday::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #6464fd;
      content: "#6464fd";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--white-wedding {
    background-color: #f5f0f5;
    position: relative; }
    .colorpalette__swatch--white-wedding::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #f5f0f5;
      content: "#f5f0f5";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }

.colorpalette__swatch {
  border-width: 1px;
  border-style: solid;
  display: inline-block;
  width: 128px;
  height: 128px; }
  .colorpalette__swatch--all-yellow {
    background-color: #f5ff70;
    position: relative; }
    .colorpalette__swatch--all-yellow::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #f5ff70;
      content: "#f5ff70";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--dancing-in-the-dark {
    background-color: #282c34;
    position: relative; }
    .colorpalette__swatch--dancing-in-the-dark::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #282c34;
      content: "#282c34";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--fade-to-grey {
    background-color: #4d4e5056;
    position: relative; }
    .colorpalette__swatch--fade-to-grey::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #4d4e5056;
      content: "#4d4e5056";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--green-sally-up {
    background-color: #70FF7F;
    position: relative; }
    .colorpalette__swatch--green-sally-up::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #70FF7F;
      content: "#70FF7F";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--simply-red {
    background-color: #ff6e6e;
    position: relative; }
    .colorpalette__swatch--simply-red::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #ff6e6e;
      content: "#ff6e6e";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--blue-monday {
    background-color: #6464fd;
    position: relative; }
    .colorpalette__swatch--blue-monday::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #6464fd;
      content: "#6464fd";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--white-wedding {
    background-color: #f5f0f5;
    position: relative; }
    .colorpalette__swatch--white-wedding::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #f5f0f5;
      content: "#f5f0f5";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }

.typographypreview {
  width: 20vw; }

.typographypreview__font {
  margin-bottom: 16px; }

.typographypreview__label {
  font-family: 'Cutive', serif;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 5px;
  line-height: 24px;
  color: #f5ff70;
  margin-left: 24px; }
  @media (min-width: 46.25em) {
    .typographypreview__label {
      font-size: 22px;
      line-height: 26px; } }
  @media (min-width: 61.25em) {
    .typographypreview__label {
      font-size: 28px;
      line-height: 32px; } }

.typographypreview__font--five {
  font-family: 'Cutive', serif;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 5px;
  line-height: 20px;
  color: #70FF7F; }
  @media (min-width: 46.25em) {
    .typographypreview__font--five {
      font-size: 16px;
      line-height: 22px; } }

.typographypreview__font--eight {
  font-family: 'Cutive', serif;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 5px;
  line-height: 24px;
  color: #70FF7F; }
  @media (min-width: 46.25em) {
    .typographypreview__font--eight {
      font-size: 22px;
      line-height: 26px; } }
  @media (min-width: 61.25em) {
    .typographypreview__font--eight {
      font-size: 28px;
      line-height: 32px; } }

.typographypreview__font--ten {
  font-family: 'Cutive', serif;
  font-size: 28px;
  letter-spacing: 5px;
  line-height: 32px;
  color: #70FF7F; }
  @media (min-width: 46.25em) {
    .typographypreview__font--ten {
      font-size: 32px;
      line-height: 36px; } }
  @media (min-width: 61.25em) {
    .typographypreview__font--ten {
      font-size: 44px;
      line-height: 48px; } }

.colorpalette__swatch {
  border-width: 1px;
  border-style: solid;
  display: inline-block;
  width: 128px;
  height: 128px; }
  .colorpalette__swatch--all-yellow {
    background-color: #f5ff70;
    position: relative; }
    .colorpalette__swatch--all-yellow::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #f5ff70;
      content: "#f5ff70";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--dancing-in-the-dark {
    background-color: #282c34;
    position: relative; }
    .colorpalette__swatch--dancing-in-the-dark::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #282c34;
      content: "#282c34";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--fade-to-grey {
    background-color: #4d4e5056;
    position: relative; }
    .colorpalette__swatch--fade-to-grey::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #4d4e5056;
      content: "#4d4e5056";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--green-sally-up {
    background-color: #70FF7F;
    position: relative; }
    .colorpalette__swatch--green-sally-up::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #70FF7F;
      content: "#70FF7F";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--simply-red {
    background-color: #ff6e6e;
    position: relative; }
    .colorpalette__swatch--simply-red::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #ff6e6e;
      content: "#ff6e6e";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--blue-monday {
    background-color: #6464fd;
    position: relative; }
    .colorpalette__swatch--blue-monday::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #6464fd;
      content: "#6464fd";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--white-wedding {
    background-color: #f5f0f5;
    position: relative; }
    .colorpalette__swatch--white-wedding::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #f5f0f5;
      content: "#f5f0f5";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }

.logo {
  text-shadow: 4px 0px 0px #ff6e6e; }

.colorpalette__swatch {
  border-width: 1px;
  border-style: solid;
  display: inline-block;
  width: 128px;
  height: 128px; }
  .colorpalette__swatch--all-yellow {
    background-color: #f5ff70;
    position: relative; }
    .colorpalette__swatch--all-yellow::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #f5ff70;
      content: "#f5ff70";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--dancing-in-the-dark {
    background-color: #282c34;
    position: relative; }
    .colorpalette__swatch--dancing-in-the-dark::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #282c34;
      content: "#282c34";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--fade-to-grey {
    background-color: #4d4e5056;
    position: relative; }
    .colorpalette__swatch--fade-to-grey::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #4d4e5056;
      content: "#4d4e5056";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--green-sally-up {
    background-color: #70FF7F;
    position: relative; }
    .colorpalette__swatch--green-sally-up::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #70FF7F;
      content: "#70FF7F";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--simply-red {
    background-color: #ff6e6e;
    position: relative; }
    .colorpalette__swatch--simply-red::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #ff6e6e;
      content: "#ff6e6e";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--blue-monday {
    background-color: #6464fd;
    position: relative; }
    .colorpalette__swatch--blue-monday::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #6464fd;
      content: "#6464fd";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--white-wedding {
    background-color: #f5f0f5;
    position: relative; }
    .colorpalette__swatch--white-wedding::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #f5f0f5;
      content: "#f5f0f5";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }

.colorpalette__swatch {
  border-width: 1px;
  border-style: solid;
  display: inline-block;
  width: 128px;
  height: 128px; }
  .colorpalette__swatch--all-yellow {
    background-color: #f5ff70;
    position: relative; }
    .colorpalette__swatch--all-yellow::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #f5ff70;
      content: "#f5ff70";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--dancing-in-the-dark {
    background-color: #282c34;
    position: relative; }
    .colorpalette__swatch--dancing-in-the-dark::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #282c34;
      content: "#282c34";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--fade-to-grey {
    background-color: #4d4e5056;
    position: relative; }
    .colorpalette__swatch--fade-to-grey::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #4d4e5056;
      content: "#4d4e5056";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--green-sally-up {
    background-color: #70FF7F;
    position: relative; }
    .colorpalette__swatch--green-sally-up::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #70FF7F;
      content: "#70FF7F";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--simply-red {
    background-color: #ff6e6e;
    position: relative; }
    .colorpalette__swatch--simply-red::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #ff6e6e;
      content: "#ff6e6e";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--blue-monday {
    background-color: #6464fd;
    position: relative; }
    .colorpalette__swatch--blue-monday::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #6464fd;
      content: "#6464fd";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--white-wedding {
    background-color: #f5f0f5;
    position: relative; }
    .colorpalette__swatch--white-wedding::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #f5f0f5;
      content: "#f5f0f5";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }

.typographypreview {
  width: 20vw; }

.typographypreview__font {
  margin-bottom: 16px; }

.typographypreview__label {
  font-family: 'Cutive', serif;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 5px;
  line-height: 24px;
  color: #f5ff70;
  margin-left: 24px; }
  @media (min-width: 46.25em) {
    .typographypreview__label {
      font-size: 22px;
      line-height: 26px; } }
  @media (min-width: 61.25em) {
    .typographypreview__label {
      font-size: 28px;
      line-height: 32px; } }

.typographypreview__font--five {
  font-family: 'Cutive', serif;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 5px;
  line-height: 20px;
  color: #70FF7F; }
  @media (min-width: 46.25em) {
    .typographypreview__font--five {
      font-size: 16px;
      line-height: 22px; } }

.typographypreview__font--eight {
  font-family: 'Cutive', serif;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 5px;
  line-height: 24px;
  color: #70FF7F; }
  @media (min-width: 46.25em) {
    .typographypreview__font--eight {
      font-size: 22px;
      line-height: 26px; } }
  @media (min-width: 61.25em) {
    .typographypreview__font--eight {
      font-size: 28px;
      line-height: 32px; } }

.typographypreview__font--ten {
  font-family: 'Cutive', serif;
  font-size: 28px;
  letter-spacing: 5px;
  line-height: 32px;
  color: #70FF7F; }
  @media (min-width: 46.25em) {
    .typographypreview__font--ten {
      font-size: 32px;
      line-height: 36px; } }
  @media (min-width: 61.25em) {
    .typographypreview__font--ten {
      font-size: 44px;
      line-height: 48px; } }

.supernavbar {
  background-color: #4d4e5056;
  box-sizing: border-box;
  height: 0px;
  left: 0;
  position: absolute;
  text-align: left;
  top: 0;
  right: 0; }

.supernavbar__text {
  font-family: 'Cutive', serif;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 5px;
  line-height: 24px;
  border-right: dotted;
  border-width: 1px;
  background-color: #43474e;
  border-color: #f5f0f5;
  box-sizing: border-box;
  color: #70FF7F;
  margin-top: 26px;
  margin-left: 8px;
  vertical-align: middle;
  text-shadow: 4px 0px 0px #ff6e6e;
  margin-left: 5%;
  margin-bottom: 0px;
  width: 90%;
  padding-left: 21px;
  padding-top: 21px;
  padding-bottom: 14px; }
  @media (min-width: 46.25em) {
    .supernavbar__text {
      font-size: 22px;
      line-height: 26px; } }
  @media (min-width: 61.25em) {
    .supernavbar__text {
      font-size: 28px;
      line-height: 32px; } }
  @media (min-width: 46.25em) {
    .supernavbar__text {
      margin-left: 10%;
      width: 80%; } }

.colorpalette__swatch {
  border-width: 1px;
  border-style: solid;
  display: inline-block;
  width: 128px;
  height: 128px; }
  .colorpalette__swatch--all-yellow {
    background-color: #f5ff70;
    position: relative; }
    .colorpalette__swatch--all-yellow::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #f5ff70;
      content: "#f5ff70";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--dancing-in-the-dark {
    background-color: #282c34;
    position: relative; }
    .colorpalette__swatch--dancing-in-the-dark::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #282c34;
      content: "#282c34";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--fade-to-grey {
    background-color: #4d4e5056;
    position: relative; }
    .colorpalette__swatch--fade-to-grey::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #4d4e5056;
      content: "#4d4e5056";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--green-sally-up {
    background-color: #70FF7F;
    position: relative; }
    .colorpalette__swatch--green-sally-up::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #70FF7F;
      content: "#70FF7F";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--simply-red {
    background-color: #ff6e6e;
    position: relative; }
    .colorpalette__swatch--simply-red::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #ff6e6e;
      content: "#ff6e6e";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--blue-monday {
    background-color: #6464fd;
    position: relative; }
    .colorpalette__swatch--blue-monday::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #6464fd;
      content: "#6464fd";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--white-wedding {
    background-color: #f5f0f5;
    position: relative; }
    .colorpalette__swatch--white-wedding::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #f5f0f5;
      content: "#f5f0f5";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }

.colorpalette__swatch {
  border-width: 1px;
  border-style: solid;
  display: inline-block;
  width: 128px;
  height: 128px; }
  .colorpalette__swatch--all-yellow {
    background-color: #f5ff70;
    position: relative; }
    .colorpalette__swatch--all-yellow::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #f5ff70;
      content: "#f5ff70";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--dancing-in-the-dark {
    background-color: #282c34;
    position: relative; }
    .colorpalette__swatch--dancing-in-the-dark::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #282c34;
      content: "#282c34";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--fade-to-grey {
    background-color: #4d4e5056;
    position: relative; }
    .colorpalette__swatch--fade-to-grey::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #4d4e5056;
      content: "#4d4e5056";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--green-sally-up {
    background-color: #70FF7F;
    position: relative; }
    .colorpalette__swatch--green-sally-up::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #70FF7F;
      content: "#70FF7F";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--simply-red {
    background-color: #ff6e6e;
    position: relative; }
    .colorpalette__swatch--simply-red::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #ff6e6e;
      content: "#ff6e6e";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--blue-monday {
    background-color: #6464fd;
    position: relative; }
    .colorpalette__swatch--blue-monday::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #6464fd;
      content: "#6464fd";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--white-wedding {
    background-color: #f5f0f5;
    position: relative; }
    .colorpalette__swatch--white-wedding::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #f5f0f5;
      content: "#f5f0f5";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }

.typographypreview {
  width: 20vw; }

.typographypreview__font {
  margin-bottom: 16px; }

.typographypreview__label {
  font-family: 'Cutive', serif;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 5px;
  line-height: 24px;
  color: #f5ff70;
  margin-left: 24px; }
  @media (min-width: 46.25em) {
    .typographypreview__label {
      font-size: 22px;
      line-height: 26px; } }
  @media (min-width: 61.25em) {
    .typographypreview__label {
      font-size: 28px;
      line-height: 32px; } }

.typographypreview__font--five {
  font-family: 'Cutive', serif;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 5px;
  line-height: 20px;
  color: #70FF7F; }
  @media (min-width: 46.25em) {
    .typographypreview__font--five {
      font-size: 16px;
      line-height: 22px; } }

.typographypreview__font--eight {
  font-family: 'Cutive', serif;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 5px;
  line-height: 24px;
  color: #70FF7F; }
  @media (min-width: 46.25em) {
    .typographypreview__font--eight {
      font-size: 22px;
      line-height: 26px; } }
  @media (min-width: 61.25em) {
    .typographypreview__font--eight {
      font-size: 28px;
      line-height: 32px; } }

.typographypreview__font--ten {
  font-family: 'Cutive', serif;
  font-size: 28px;
  letter-spacing: 5px;
  line-height: 32px;
  color: #70FF7F; }
  @media (min-width: 46.25em) {
    .typographypreview__font--ten {
      font-size: 32px;
      line-height: 36px; } }
  @media (min-width: 61.25em) {
    .typographypreview__font--ten {
      font-size: 44px;
      line-height: 48px; } }

.topicpreview {
  position: relative;
  background-color: #4d4e5056;
  box-sizing: border-box;
  padding: 10px;
  border-color: #282c34;
  margin-bottom: 0px;
  margin-top: 25px;
  width: 90%;
  border-left-style: dotted;
  border-width: 1px;
  border-left-color: #f5f0f5; }
  @media (min-width: 46.25em) {
    .topicpreview {
      padding: 8px 16px 16px 24px;
      width: 80%; } }

.topicpreview__title {
  font-family: 'Cutive', serif;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 5px;
  line-height: 24px;
  color: #70FF7F;
  text-align: left; }
  @media (min-width: 46.25em) {
    .topicpreview__title {
      font-size: 22px;
      line-height: 26px; } }
  @media (min-width: 61.25em) {
    .topicpreview__title {
      font-size: 28px;
      line-height: 32px; } }
  .topicpreview__title a {
    color: #70FF7F;
    text-decoration: none;
    text-shadow: 4px 0px 0px #ff6e6e; }
  .topicpreview__title a:visited {
    color: #70FF7F; }
  .topicpreview__title a:hover {
    text-shadow: -4px 0px 0px #6464fd; }
  .topicpreview__title a:focus,
  .topicpreview__title a:active {
    text-shadow: -10px 10px 0px #6464fd;
    background-color: #282c34; }
  @media (min-width: 46.25em) {
    .topicpreview__title {
      margin-bottom: 18px;
      margin-left: 40%;
      text-align: right;
      width: 60%; } }

.topicpreview__text {
  font-family: 'Cutive', serif;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 5px;
  line-height: 20px;
  text-align: left;
  color: #f5f0f5;
  border-color: #f5f0f5;
  border-top-style: solid;
  border-width: 1px;
  padding: 16px 0; }
  @media (min-width: 46.25em) {
    .topicpreview__text {
      font-size: 16px;
      line-height: 22px; } }
  @media (min-width: 46.25em) {
    .topicpreview__text {
      margin-top: 16px;
      margin-bottom: 0px;
      margin-left: 8px;
      width: 100%; } }

.colorpalette__swatch {
  border-width: 1px;
  border-style: solid;
  display: inline-block;
  width: 128px;
  height: 128px; }
  .colorpalette__swatch--all-yellow {
    background-color: #f5ff70;
    position: relative; }
    .colorpalette__swatch--all-yellow::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #f5ff70;
      content: "#f5ff70";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--dancing-in-the-dark {
    background-color: #282c34;
    position: relative; }
    .colorpalette__swatch--dancing-in-the-dark::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #282c34;
      content: "#282c34";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--fade-to-grey {
    background-color: #4d4e5056;
    position: relative; }
    .colorpalette__swatch--fade-to-grey::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #4d4e5056;
      content: "#4d4e5056";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--green-sally-up {
    background-color: #70FF7F;
    position: relative; }
    .colorpalette__swatch--green-sally-up::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #70FF7F;
      content: "#70FF7F";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--simply-red {
    background-color: #ff6e6e;
    position: relative; }
    .colorpalette__swatch--simply-red::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #ff6e6e;
      content: "#ff6e6e";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--blue-monday {
    background-color: #6464fd;
    position: relative; }
    .colorpalette__swatch--blue-monday::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #6464fd;
      content: "#6464fd";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--white-wedding {
    background-color: #f5f0f5;
    position: relative; }
    .colorpalette__swatch--white-wedding::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #f5f0f5;
      content: "#f5f0f5";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }

.colorpalette__swatch {
  border-width: 1px;
  border-style: solid;
  display: inline-block;
  width: 128px;
  height: 128px; }
  .colorpalette__swatch--all-yellow {
    background-color: #f5ff70;
    position: relative; }
    .colorpalette__swatch--all-yellow::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #f5ff70;
      content: "#f5ff70";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--dancing-in-the-dark {
    background-color: #282c34;
    position: relative; }
    .colorpalette__swatch--dancing-in-the-dark::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #282c34;
      content: "#282c34";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--fade-to-grey {
    background-color: #4d4e5056;
    position: relative; }
    .colorpalette__swatch--fade-to-grey::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #4d4e5056;
      content: "#4d4e5056";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--green-sally-up {
    background-color: #70FF7F;
    position: relative; }
    .colorpalette__swatch--green-sally-up::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #70FF7F;
      content: "#70FF7F";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--simply-red {
    background-color: #ff6e6e;
    position: relative; }
    .colorpalette__swatch--simply-red::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #ff6e6e;
      content: "#ff6e6e";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--blue-monday {
    background-color: #6464fd;
    position: relative; }
    .colorpalette__swatch--blue-monday::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #6464fd;
      content: "#6464fd";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }
  .colorpalette__swatch--white-wedding {
    background-color: #f5f0f5;
    position: relative; }
    .colorpalette__swatch--white-wedding::after {
      background-color: rgba(135, 161, 197, 0.918);
      color: #f5f0f5;
      content: "#f5f0f5";
      font-size: 18px;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      bottom: 54px;
      left: 0;
      right: 0; }

.typographypreview {
  width: 20vw; }

.typographypreview__font {
  margin-bottom: 16px; }

.typographypreview__label {
  font-family: 'Cutive', serif;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 5px;
  line-height: 24px;
  color: #f5ff70;
  margin-left: 24px; }
  @media (min-width: 46.25em) {
    .typographypreview__label {
      font-size: 22px;
      line-height: 26px; } }
  @media (min-width: 61.25em) {
    .typographypreview__label {
      font-size: 28px;
      line-height: 32px; } }

.typographypreview__font--five {
  font-family: 'Cutive', serif;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 5px;
  line-height: 20px;
  color: #70FF7F; }
  @media (min-width: 46.25em) {
    .typographypreview__font--five {
      font-size: 16px;
      line-height: 22px; } }

.typographypreview__font--eight {
  font-family: 'Cutive', serif;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 5px;
  line-height: 24px;
  color: #70FF7F; }
  @media (min-width: 46.25em) {
    .typographypreview__font--eight {
      font-size: 22px;
      line-height: 26px; } }
  @media (min-width: 61.25em) {
    .typographypreview__font--eight {
      font-size: 28px;
      line-height: 32px; } }

.typographypreview__font--ten {
  font-family: 'Cutive', serif;
  font-size: 28px;
  letter-spacing: 5px;
  line-height: 32px;
  color: #70FF7F; }
  @media (min-width: 46.25em) {
    .typographypreview__font--ten {
      font-size: 32px;
      line-height: 36px; } }
  @media (min-width: 61.25em) {
    .typographypreview__font--ten {
      font-size: 44px;
      line-height: 48px; } }

.landingpage {
  background-color: #282c34; }

.landingpage__contentlist {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  padding-top: 98px; }

.App {
  text-align: center;
}

.App-logo {
  -webkit-animation: App-logo-spin infinite 20s linear;
          animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}


/*# sourceMappingURL=iframe.d0cd5ba9.chunk.css.map*/