// The pseudo elements can climb the DOM, hence the use of the word 'isolation'
.hackertext-isolation-container {
    /* relative will contain the hackertext 'before' 
         pseudo element (absolute positioning). It
         would otherwise continue to climb the DOM
         heirarchy */
    position: relative;
    width: 100%;
    z-index: -3;
    height: auto;
  }
  
  .hackertext-background {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: -2;
    height: 200px;
  }
  
  .hackertext {
    color: $green;
    background-color: rgba($black, 0.7);
    font-family: monospace;
    height: auto;
    position: absolute;
    user-select: none;
    word-break: break-all;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
  }
  
  @keyframes hts-anim {
    0% {top: -$gel-spacing-unit; left: -$gel-spacing-unit; display: inline;}
    50% {top: 20px; left: 0; color:  purple; display: none;}
    100% {top: 0px; left: 0; color:  rgba(green, 0.1f); display: none;}
  }
  
  .hackertext::after {
    content: "Memory Test  :    786432K OK";
    animation: hts-anim 2s alternate both running;
    background-color: rgba($black, 0.7);
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 2;
  }
