$container-height: 400;
$container-width: 1260;
$snake-width: 48px;
$snake-height: 16px;

.snake__environment-wrongscreensize {
    display: block;
    @include mq($from: gel-bp-xxl) {
        display: none;
    }
}

.snake__environment-container {
    @include gel-layout;

    display: none;
    @include mq($from: gel-bp-xxl) {
        display: block;
    }

    position: relative;
    border-style: solid;
    border-width: 1px;
    background-color: yellow;
    border-color: palegreen;
    height: #{$container-height}px;
    width: #{$container-width}px + 4px;
    min-width: #{$container-width}px + 4px;
    &:before {
        position: absolute;
        content: "";
        top: 48px;
        bottom: 48px;
        left: 32px;
        width:10px;
        background-color: yellow;
        border-color: black;
        border-width: 2px;
        border-style: dashed;
    }

    &:after {
        position: absolute;
        content: "";
        top: 48px;
        bottom: 48px;
        right: 30px;
        width:10px;
        background-color: yellow;
        border-color: black;
        border-width: 5px;
        border-style: double;
    }
}

.snake__environmentstartlineleft {
    color: black;
    transform: rotate(90deg);
    position: absolute;
    top: 16px;
    bottom: $container-height / 2;
    left: 22px;
}

.snake__environmentstartlineright {
    color: black;
    transform: rotate(90deg);
    position: absolute;
    bottom: 16px;
    top: $container-height / 2;
    left: 22px;
}

.snake__environmentfinishline {
    color: black;
    transform: rotate(90deg);
    position: absolute;
    top: 16px;
    bottom: $container-height / 2;
    right: 16px;
}

.snake__environmentfinishlinebottom {
    color: black;
    transform: rotate(90deg);
    position: absolute;
    bottom: 16px;
    top: $container-height / 2;
    right: 16px;
}

.spacerace__sprite {
    position: absolute;   
    box-sizing: border-box;
    height: 2%;
    width: 2%;
    border-radius: 4px;
    z-index: 5;
}

.snake__environment-stats {
    background-color: white;
    color: black;    
    position: relative;
    left: 200px;
    top: 24px;
    width:250px;
    text-align: center;
}

.snake__environment-stats--alt {
    background-color: black;
    color: white;  }

$resolution: 20;
$i: $container-width;
@while $i >= 0 {
    $j: $container-width;
    @while $j >= 0 {    
        .spacerace__sprite--x#{$i}y#{$j} { left: #{$i}px; top: #{$j}px; }
        .spacerace__sprite--x#{$i}y#{$j}::before
        {
            position: absolute;
            color: yellow;
            top:0;
            bottom:0;
            right:0;
            left:0;
            font-size: 14px;
        }

        $j: $j - $resolution;
    };

    $i: $i - $resolution;
};

@keyframes hyperShift { from {opacity: 0} to {opacity: 1.0}}

$s-min: 20;
$s-max: 70;
$l-min: 30;
$l-max: 90;
@for $i from 0 through 100 {
    .spacerace__sprite--number#{$i} {
        animation: hyperShift ease-in 1s;
        background-color: hsl(random(360),$s-min+random($s-max+-$s-min),$l-min+random($l-max+-$l-min));
        box-sizing: border-box;
        width: $snake-width;
        height: $snake-height;
        border-radius: 4px;
    }

    .spacerace__sprite--number#{$i}::before
    {
        animation: hyperShift ease-in 2s;
        position: absolute;
        content: '#{$i}';
        color: yellow;
        top:0;
        bottom:0;
        left:0;
        text-align: left;
        font-size: 16px;
        margin-left: 40%;
    }
};
