.unicode-table__container {
    background-color: $corner-shop-trans-brew;
    box-sizing: border-box;
    padding: $gel-spacing-unit;
}

.unicode-table__header {
    display: block;

    > h1 {
        margin: 0;
    }
}

.unicode-table__container {
    display: block;

    > h2 {
        margin: 0;
    }
}

.unicode-table__conversion-table-layout {
    @include gel-layout;

    display: inline-block;
}

.unicode-table__detail {
    display: inline-block;

    margin-top: double($gel-spacing-unit);
    margin-bottom: $gel-spacing-unit;

    > h2 {
        display: inline-block;
        margin: 0;
    }

    &--range:after {
        content: ', ';
    }

    &--range-last-child:after {
        content: '';
    }
}

@keyframes expand-in {
    0% {
        background-color: hotpink;
        top: quad($gel-spacing-unit);
        bottom: quad($gel-spacing-unit);
        left: quad($gel-spacing-unit);
        right: quad($gel-spacing-unit);
    }

    45% {
        background-color: white;
        top: $gel-spacing-unit;
        bottom: $gel-spacing-unit;
        left: $gel-spacing-unit;
        right: $gel-spacing-unit;
    }

    90% {
        background-color: hotpink;
        top: 0;
        bottom: double(-$gel-spacing-unit);
        left: double(-$gel-spacing-unit);
        right: double(-$gel-spacing-unit);
    }

    100% {
        background-color: hotpink;
        top: 0;
        bottom: triple(-$gel-spacing-unit);
        left: triple(-$gel-spacing-unit);
        right: triple(-$gel-spacing-unit);
    }
}

.unicode-table__conversion-item {
    @include gel-layout-item;

    position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding: $gel-spacing-unit;
    width: 6 * $gel-spacing-unit;
    height: 7 * $gel-spacing-unit;
    overflow:none;
    text-align: center;
    z-index: 1;
    border-width: 2px;

    > p {
        display: block;
        margin: 0;
    }

    &:hover {
        color: $orange;
        text-decoration: underline;
        border-color: $green;
        transition: color 0.5s ease;
    }

    &:focus {
        outline: none;
        background-color: $orange;
        color: $orange-contrast;
        border-color: $green;
        transition: background-color 0.25s ease;
        font-size: 32px;
        z-index: 2;
        top: 0;

        &::before {
            animation: expand-in 0.25s ease-in;
            position: absolute;
            z-index: -1;
            content: '';
            background-color: hotpink;
            top: 0;
            bottom: triple(-$gel-spacing-unit);
            left: triple(-$gel-spacing-unit);
            right: triple(-$gel-spacing-unit);
        }
    }
}
