$gel-grid-enable--markup-output: true;
$gel-type-enable--markup-output: true;
$gel-type-enable--font-family: true;

// BBC imports
@import 'node_modules/gel-sass-tools/sass-tools';
@import 'node_modules/sass-mq/mq';
@import 'node_modules/gel-grid/grid';
@import 'node_modules/gel-typography/typography';

@import 'colors';
@import 'hackertext';
@import 'notfound';
@import 'components/text-grid-box';
@import 'unicode-table';

// Google imports
@import url('https://fonts.googleapis.com/css?family=Monoton|VT323|Source+Code+Pro');

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $black;
  color: $green;
  font-family: 'VT323', monospace;
  margin: 0;
  padding: 0;
}

.header {
  color: $offblack;
}

.header {
  margin-top: 0;
  padding-top: 0;
}


@keyframes cool {
  0% {top: -24px; left: 0px; color: red; z-index: 2;}
  25% {top: -20px; left:0px; color: red;}
  50% {top: -16px; left:0px; color: red;}
  100% {top: 0px; left:0px; color: white;}
}

@keyframes cool2 {
  0% {top: 24px; left: 0; color: blue; z-index: 2;}
  25% {top: 20px; left:0px; color: blue;}
  50% {top: 16px; left:0px; color: blue;}
  100% {top: 0px; left:0px; color: white;}
}

@keyframes main-logo-anim {
  0% {color: black}
  100% {color: green}
}

.sitename {
  position: relative;
  color: $green;

  animation: main-logo-anim 1s running;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

.sitename::before {
  position: absolute;
  color: $green;
  animation: cool 1s running;
  animation-delay: 0s;
  animation-iteration-count: 1;
  content: 'SPACEKITCAT';
  float: left;
  top: 0px;
  left: 0px;
  position: absolute;
  border-color: rgba($orange, 0.2);
  border-style: none none none none;
  border-width: 1px;
}

.sitename::after {
  position: absolute;
  color: $green;
  animation: cool2 1s running;
  animation-delay: 0s;
  animation-iteration-count: 1;
  content: 'SPACEKITCAT';
  float: left;
  top: 0px;
  left: 0px;
  border-color: rgba($orange, 0.2);
  border-style: none none none none;
  border-width: 1px;
}

.projects__layout {
  @include gel-layout;
  perspective: 1000px;
  background-color: $corner-shop-trans-brew;
  padding-top: $gel-spacing-unit;
  padding-right: double($gel-spacing-unit);
}

.column-wrapper {
  display: flex;
  flex-direction: column;
}

.content {
  @include gel-typography('body-copy');
  margin-right: triple($gel-spacing-unit);

  color: $orange;
}

.footer-item {
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);

  color: $orange;
  margin-top: $gel-spacing-unit;
}

.footer-item a {
  text-decoration: none;
  color: $orange;
}

.item-meta {
  border-top: solid;
  border-width: 1px;
  font-size: 26px;
  letter-spacing: 2px;
  font-family: 'VT323', monospace;
}

.item-meta-item,
.item-meta-item--red {
  vertical-align: middle;
}

.item-label img {
  background-color: rgba($green, 0.1);

  width: 100%;
}

.footer-item a {
  text-decoration: none;
  color: $orange-contrast;
  transition-timing-function: ease();
  transition-duration: 1s;
  -webkit-transition-duration: 100ms;
  -moz-transition-duration: 100ms;
  -o-transition-delay-duration: 100ms;
  letter-spacing: 3px;
}

.footer-item a:active {
  text-decoration: none;
  color: $orange-contrast;
}

.footer-item a:visited {
  text-decoration: none;
  color: $orange;
}

.footer-item a:hover {
  text-decoration: none;
  color: $orange-contrast;
  transition-timing-function: ease();
  transition-duration: 0.5s;
  -webkit-transition-duration: 100ms;
  -moz-transition-duration: 100ms;
  -o-transition-delay-duration: 100ms;
  text-transform: uppercase;
  letter-spacing: 1.1 * $gel-spacing-unit;
}

.list {
  border-color: rgba($orange, 0.6);
  padding-bottom: triple($gel-spacing-unit);
}
.list h2 {
  color: $white;
}
