@import '../../atoms/palette';
@import '../../atoms/typography';
@import '../../atoms/sass-mq';

.topicpreview {
    position: relative;
    background-color: $fade-to-grey;
    box-sizing: border-box;
    padding: 10px;
    border-color: $dancing-in-the-dark;
    margin-bottom: 16px;
    margin-top: 16px;
    width: 90%;
    border-left-style: solid;
    border-width: 1px;
    border-left-color: white;

    @include mq($from: tablet) {
        padding: 8px 16px 16px 24px;
        width: 80%;
    }
}

.topicpreview__title {
    @include eight  ;
    color: $green-sally-up;
    text-align: left;

    a {
        color: $green-sally-up;
        text-decoration: none;
    
        text-shadow: 4px 0px 0px $simply-red;
    }

    a:visited {
        color: $green-sally-up;
    }

    a:hover {
        text-shadow: -4px 0px 0px blue;
    }

    a:focus,
    a:active {
        text-shadow: -10px 10px 0px blue;
        background-color: $dancing-in-the-dark;    }

    @include mq($from: tablet) {
        margin-bottom: 18px;
        margin-left: 40%;
        text-align: right;
        width: 60%;
    }
}

.topicpreview__text {
    @include five;
    text-align: left;
    @include mq($from: tablet) {
        margin-top: 16px;
        margin-bottom: 0px;
        margin-left: 8px;
        width: 100%;
    }
    border-bottom-style: none;
    border-right-style: none;
    border-left-style: none;
    border-top-style: solid;
    border-width: 1px;
    padding: 16px 0;
}
