@import '../../atoms/main';

.supernavbar {
  background-color: $content-background;

  box-sizing: border-box;
  position: relative;
  text-align: left;
  text-align: left;
  height: 56px;

  border-bottom-color: $green-sally-up;
  border-width: 1px;
  border-style: dotted;
}

.supernavbar__text {
  @include eight;
  @include content-wrap;

  box-sizing: border-box;
  vertical-align: middle;

  color: $green-sally-up;
  text-shadow: 4px 0px 0px $simply-red;

  text-align: right;
}

.supernavbar__spritepen {
  position: absolute;
  @include content-wrap;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.supernavbar__sprite {
  position: relative;
  margin-top: -8px;
  margin-bottom: 0;
}

.supernavbar__sprite img {
  width: 48px;
  height: 48px;
  image-rendering: pixelated;
}
