@import '../../atoms/palette';
@import '../../atoms/typography';

.supernavbar {
    background-color: $fade-to-grey;
    box-sizing: border-box;
    height:38px;
    left: 0;
    position: absolute;
    text-align: left;
    top: 0;
    right: 0;
}

.supernavbar__text {
    @include small-logo;
    color: $green-sally-up;
    height: 100%;
    margin-top: 4px;
    margin-bottom: 0px;
    margin-left: 8px;
    vertical-align: middle;
}
