@import '../../atoms/palette';
@import '../../atoms/typography';

.supernavbar {
    background-color: $fade-to-grey;
    box-sizing: border-box;
    height:0px;
    left: 0;
    position: absolute;
    text-align: left;
    top: 0;
    right: 0;
}

.supernavbar__text {
    @include eight;
    border-right: dotted;
    border-width:1px;
    border-color: white;

    background-color: #43474e;
    border-color: white;
    box-sizing: border-box;
    color: $green-sally-up;
    margin-top: 26px;
    margin-left: 8px;
    vertical-align: middle;
    text-shadow: 4px 0px 0px $simply-red;
    margin-left: 5%;
    margin-bottom: 0px;
    width: 90%;
    padding-left: 21px;
    padding-top: 21px;
    padding-bottom: 14px;
    

    @include mq($from: tablet) {
        margin-left: 10%;
        width: 80%;
    }
}
