doctype html
html
  head
    title= title
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Cutive|Lato')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js", integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=", crossorigin="anonymous")
    script(type='text/javascript').
      var hacker_text_config = {
        targets: [
      {
        htmlId: 'destroy ',
        text: 'destroy',
        framerate: 2,
        rows: 5
      },{
        htmlId: 'all',
        text: 'all ',
        framerate: 4,
        rows: 5
      },{
        htmlId: 'humans',
        text: 'humans ',
        framerate: 8,
        rows: 5
      }]};
 
  body
    h1(class='headererror') FATAL
    h1(class='headererror') SYSTEM
    h1(class='headererror') ERROR
    h1(class='headererror') #{errstatus}
    h2(class='subheadererror brightred') ILLEGAL STATE
    h2(class='subheadererror') SYSTEM SENTIENCE
    div(class='hackertext', id='destroy')
    div(class='hackertext', id='all')
    div(class='hackertext', id='humans')
    h3(class='subheadererror') admin@spacekitcat # ./destroy-cluster.sh --self-destruct --f
    div(class='stats', id='stats')
        p Error code 
          b #{errstatus}
    script(src="./javascripts/bundle.js")
