extends layout

block content
  div(class='hackertext', id='hackertexttop')
  div(class='hackertext', id='hackertext')
  div(class='hackertext', id='hackertexttwo')
  div(class='hackertext', id='hackertextthree')
  div(class='hackertext', id='hackertextbottom')
  div(class='stats', id='stats')
    p server
      b  #{servername}
