extends layout

block content
  div(class='hackertext', id='hackertextone')
  div(class='hackertext', id='hackertexttwo')
  div(class='hackertext', id='hackertextthree')
  div(class='hackertext', id='hackertextfour')
  div(class='hackertext', id='hackertextfive')
  p
    a(href="https://github.com/spacekitcat")  
      img(src='images/github.png')
  div(class='stats', id='stats')
    p server
      b  #{servername}

