doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js", integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=", crossorigin="anonymous")
    script(type='text/javascript').
      var hacker_text_config = {
        targets: [{
        htmlId: "hackertext",
        text: "DONT_FEAR_PERFECTION_YOULL_NEVER_MEET_IT_",
        framerate: 3,
        rows: 15
      },
      {
        htmlId: "hackertexttwo",
        text: "SPACE_KIT_CAT_",
        framerate: 2,
        rows: 15
      },
      {
        htmlId: "hackertextthree",
        text: "DONT_FEAR_PERFECTION_YOULL_NEVER_MEET_IT_",
        framerate: 3,
        rows: 18
      }]};
 
  body
    block content
    script(src="./javascripts/bundle.js")
